<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>VaadinCDITest</display-name>
  <!-- 
	<listener>
		<listener-class>com.vaadin.cdi.internal.ContextDeployer</listener-class>
	</listener>
   -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Bugrap</web-resource-name>
			<url-pattern>/dummyurl/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>reporter</role-name>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>other</realm-name>
	</login-config>

	<security-role>
		<role-name>reporter</role-name>
	</security-role>
	<security-role>
		<role-name>manager</role-name>
	</security-role>

</web-app>
